* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 100px;
  border-top: 90px solid rgb(0, 39, 212);
}
.top-section {
  display: flex;
  justify-content: space-between;

  margin: 30px 0;
}
.about {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}
.paragraph {
  width: 280px;
  color: #444;
  margin-bottom: 16px;
}
.person {
  border-radius: 70%;
}
button {
  padding: 8px;
  color: #fff;
  background-color: rgb(0, 39, 212);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.skil {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 23px;
  margin-bottom: 16px;
}
.progeses {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 20px;
}
label {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
progress {
  width: 100%;
  accent-color: rgb(0, 39, 212);
  padding: 10px;
}
.project {
  margin-top: 30px;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 12px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 12px;
}
.project1 {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  gap: 12px;
  border-radius: 12px;
}
.project1 p:first-child {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.project1 p:last-child {
  color: #444;
}
.img {
  border-radius: 12px;
}
.comunicate {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 23px;
}
.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 12px;
}
.inputs input {
  padding: 9px 7px;
  border: none;
  background-color: #eeeeee;
  border-radius: 5px;
}
.message {
  width: 220%;
  height: 100px;
}
input:focus {
  outline: none;
}
